<!-- col-sm-12 is kinda mandatory here to avoid unnecessary scrollbars... -->
<div class="my-menu-tsps col-sm-12">
    <!-- Device list -->
    <div ng-if="$ctrl.deviceListFound" cg-busy="$ctrl.deviceListPromise">
      <span id="my-menu-dashboard">Devices</span>
    </div>
  
    <table class="table table-condensed table-striped table-fixed device-table">
      <thead>
        <tr>
          <th class="column-monitor">
            {{ "my-menu.devices.identifier" | translate }}
          </th>
          <th class="column-monitor">
            {{ "my-menu.devices.name" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="device in $ctrl.devices track by device.id">
          <td class="column-monitor">
            {{device.id}}
          </td>
          <td class="column-monitor">
           {{device.name}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
    <!-- Error message if device could not be found -->
    <div ng-if="!$ctrl.deviceListFound">
      <message type="note"
        >{{ "my-menu.devices.deviceListNotFound" | translate}}</message
      >
    </div>
  </div>
  